
<div class="single-cocktail-card">
  <h1><%= @cocktail.name %></h1>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 300, crop: :fill %>
  <br>
  <h3>Ingredients for this cocktail are:</h3>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <h5><%= dose.description %> <%= dose.ingredient.name %></h5>
        <p><%= link_to "Delete this dose...", dose_path(dose), method: :delete %></p>
      </li>
    <% end %>
  </ul>
</div>

<%= render "./doses/form.html.erb" %>

<p><%= link_to "Previous cocktail", cocktail_path(@cocktail.id - 1) %></p>
<p><%= link_to "Next cocktail", cocktail_path(@cocktail.id + 1) %></p>
